extends layout

block content
  div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
    header(class="mdl-layout__header")
      div(class="mdl-layout__header-row")
        span(class="mdl-layout-title") Lets expand on that a little...
        div.mdl-layout-spacer
    
    div.mdl-layout__drawer
      each val in broad
        h5
          a(href="/"+ val.code) #{val.description}


    main.mdl-layout__content
      each val in broad
        div(
          class="demo-card-short mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-tablet mdl-shadow--2dp mdl-color--grey-50") 
          
          
          div(class="mdl-card__actions mdl-card--border")
            a(
              href="/"+ val.code,
              class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect",
              style="text-align:left; cursor:initial;height:100%;") #{val.description}
