var course = #{course}
extends layout

block content
  h3 #{course['Course Name']}
  h6 (#{course['Study Mode']})
  h5 Where
    if course['Study Place'] == "Online"
        p Online
    else
        p #{course['Campus']}
  h5 When
  p Commencing #{course['Semester']}, for #{course['Duration Number']} #{course['Duration Scale']}
  if course['admission_requirements'].length
    h5 Who
    each val in course['admission_requirements']
      p #{val} 
 